h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 32px;
	color: $white;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h2, .h2 {
	width: 100%;
	font-size: 24px;
	margin-bottom: 30px;
	color: $black;
	text-align: left;

	@media all and (min-width: $md) {
		font-size: 34px;
		margin-bottom: 40px;
	}

	@media all and (min-width: $xxl) {
		font-size: 60px;
		margin-bottom: 60px;
	}
}

h3, .h3 {
	font-size: 30px
}

h4, .h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

h5, .h5 {
	font-size: $fs-xl
}

h6, .h6 {
	font-size: $fs-lg
}

a {
	display: inline-block;
	text-decoration: underline;
	transition: color ease-out $tr;

	&:hover {
		text-decoration: none
	}
}

p {
	margin-top: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

b, strong {
	font-weight: $fw-bold
}

form, fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	cursor: pointer;
}